@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap');


.BizHaqimizda{
    background-color: #fafafa;
    margin-top: 80px;
    width: 100%;

    .asosiy{
        padding: 0 10%;
        margin-bottom: 50px;
        h3{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 34px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.25px;
            font-feature-settings: 'pnum' on, 'lnum' on;
        }
        .contents{
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            .texts{
                display: flex;
                flex-flow: column;
                justify-content: center;
                max-width: 550px;
                h4{
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 140%;
                }
                p{
                    font-family: Montserrat;
                    font-size: 14px;
                    line-height: 170%;
                }
            }
            .image{
                height: 400px;
                img{
                    height: 100%;
                }
            }
        }
    }
    .address{
        display: flex;
        justify-content: space-between;
        margin: 50px 0;
        width: 100%;
        
        .image{
            width: 50%;
            padding-right: 50px;


        }
        .contents{
            width: 50%;
            h3{
                font-family: Inter;
                font-style: normal;
                font-weight: 900;
                font-size: 46px;
                margin-bottom: 50px;
            }
            .manzillar{
                min-width: 100px;
                display: grid;
                grid-template-columns: 160px 160px;
                grid-column-gap: 150px;
                grid-row-gap: 50px;
                
                h5{
                    font-family: Inter;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 32px;
                }
                p{
                    font-family: Inter;
                    font-size: 18px;
                    line-height: 32px;
                }
            }
        }
    }
}


@media (max-width:1200px){
    .BizHaqimizda{
        .asosiy{
            padding: 0 5%;
        }
    }
}

@media (max-width:1200px){
    .BizHaqimizda{
        .address{
            .contents{
                h3{
                    font-size: 40px;
                    font-weight: 800;
                }
                .manzillar{
                    grid-column-gap:100px;
                    h5{
                        font-size: 16px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width:860px) {
    .BizHaqimizda{
        
        .asosiy{
            width: 100%;

            .contents{
                flex-flow: column-reverse;
                width: 100%;
                .image{
                    width: 100%;
                    height: auto;
                    margin-bottom: 70px;
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
        .address{
            align-items: center;
            flex-flow: column;
            .image{
                align-items: center;
                width: 100%;
                height: 400px;
                padding-right: 0;
                > div{
                    margin: auto;
                }
            }
            .contents{

            padding: 0 5%;
                width: 100%;
                > *{
                    width: 90%;
                }
            }
        }
    }
}

@media (max-width:450px){
    .BizHaqimizda{
        .asosiy{
            h3{
                text-align: start;
            }
        }
        .address{
            .contents{
                h3{
                    font-size: 24px;
                    line-height: 140%;
                }
                .manzillar{
                    grid-template-columns: auto;
                    grid-row-gap: 10px;
                    p{
                        font-size: 14px;
                    }
                
                }
            }
        }
    }
}