@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800;900&display=swap");
.BizHaqimizda {
  background-color: #fafafa;
  margin-top: 80px;
  width: 100%;
}

.BizHaqimizda .asosiy {
  padding: 0 10%;
  margin-bottom: 50px;
}

.BizHaqimizda .asosiy h3 {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.BizHaqimizda .asosiy .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.BizHaqimizda .asosiy .contents .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 550px;
}

.BizHaqimizda .asosiy .contents .texts h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}

.BizHaqimizda .asosiy .contents .texts p {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 170%;
}

.BizHaqimizda .asosiy .contents .image {
  height: 400px;
}

.BizHaqimizda .asosiy .contents .image img {
  height: 100%;
}

.BizHaqimizda .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  width: 100%;
}

.BizHaqimizda .address .image {
  width: 50%;
  padding-right: 50px;
}

.BizHaqimizda .address .contents {
  width: 50%;
}

.BizHaqimizda .address .contents h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  margin-bottom: 50px;
}

.BizHaqimizda .address .contents .manzillar {
  min-width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 160px 160px;
      grid-template-columns: 160px 160px;
  grid-column-gap: 150px;
  grid-row-gap: 50px;
}

.BizHaqimizda .address .contents .manzillar h5 {
  font-family: Inter;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}

.BizHaqimizda .address .contents .manzillar p {
  font-family: Inter;
  font-size: 18px;
  line-height: 32px;
}

@media (max-width: 1200px) {
  .BizHaqimizda .asosiy {
    padding: 0 5%;
  }
}

@media (max-width: 1200px) {
  .BizHaqimizda .address .contents h3 {
    font-size: 40px;
    font-weight: 800;
  }
  .BizHaqimizda .address .contents .manzillar {
    grid-column-gap: 100px;
  }
  .BizHaqimizda .address .contents .manzillar h5 {
    font-size: 16px;
  }
  .BizHaqimizda .address .contents .manzillar p {
    font-size: 16px;
  }
}

@media (max-width: 860px) {
  .BizHaqimizda .asosiy {
    width: 100%;
  }
  .BizHaqimizda .asosiy .contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    width: 100%;
  }
  .BizHaqimizda .asosiy .contents .image {
    width: 100%;
    height: auto;
    margin-bottom: 70px;
  }
  .BizHaqimizda .asosiy .contents .image img {
    width: 100%;
    height: auto;
  }
  .BizHaqimizda .address {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .BizHaqimizda .address .image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 400px;
    padding-right: 0;
  }
  .BizHaqimizda .address .image > div {
    margin: auto;
  }
  .BizHaqimizda .address .contents {
    padding: 0 5%;
    width: 100%;
  }
  .BizHaqimizda .address .contents > * {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .BizHaqimizda .asosiy h3 {
    text-align: start;
  }
  .BizHaqimizda .address .contents h3 {
    font-size: 24px;
    line-height: 140%;
  }
  .BizHaqimizda .address .contents .manzillar {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 10px;
  }
  .BizHaqimizda .address .contents .manzillar p {
    font-size: 14px;
  }
}
/*# sourceMappingURL=bizhaqimizda.module.css.map */