


.Buyurtma{
    margin-top: 50px;
    padding: 0 10%;
    .rasmiylashtiish{
        .tulov-turi{
            h3{
                font-family: Montserrat;
                margin-bottom: 60px;
                font-weight: bold;
                font-size: 34px;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
            .row{
                display: flex;
                justify-content: space-between;
                padding: 0;
                .click{
                    .inform{
                        width: 460px;
                        height: 113px;
                        background: #FFC000;
                        padding: 16px;
                        display: flex;
                        flex-flow: column;
                        justify-content: space-between;
                        .single, .multi{
                            display: flex;
                            justify-content: space-between;
                            p{
                                font-family: Montserrat;
                                font-size: 20px;
                                line-height: 140%;
                                letter-spacing: 0.15px;
                                font-feature-settings: 'pnum' on, 'lnum' on;
                                color: #0D0D0D;
                            }
                        }
                    }
                    .radio{
                        display: flex;

                        margin-top: 50px;
                        label{
                            align-items: center;
                            input{
                                align-items: center;
                                position: relative;
                                top: -20px;
                            }
                            img{
                                height: 56px;
                            }
                        }
                    }
                }
                .fish{
                    div{
                        margin-bottom: 24px;
                        input{
                            width: 500px;
                            height: 50px;
                            background: #F1F1F1;
                            border: none;
                            outline: none;
                            padding-left: 16px;
                            &::placeholder{
                                font-family: Montserrat;
                                font-size: 16px;
                                line-height: 140%;
                                letter-spacing: 0.44px;
                                font-feature-settings: 'pnum' on, 'lnum' on;
                                color: rgba(0, 0, 0, 0.4);
                            }
                        }
                        button{
                            width: 500px;
                            height: 50px;
                            font-family: Montserrat;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 140%;
                            letter-spacing: 0.75px;
                            text-transform: uppercase;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                            color: #0D0D0D;
                            background-color: #FFC000;
                            border: none;
                            outline: none;

                        }
                    }
                }
            }
        }
    }
    .zakazlar{
        h4{
            font-family: Montserrat;
            font-weight: bold;
            font-size: 34px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.25px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            margin-top: 50px;
            margin-bottom: 30px;
        }
    }
}

@media (max-width:1200px){
    .Buyurtma{
        padding: 0 5%;
        .rasmiylashtiish{
            .tulov-turi{
                .row{
                    .click{
                        width: 50%;
                        margin-right: 20px;
                        .inform{
                            width: 100%;
                            
                        }
                    }
                    .fish{
                        width: 50%;
                        div{
                            width: 100%;
                            input{
                                width: 100%;
                            }
                            button{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:860px){
    .Buyurtma{
        .rasmiylashtiish{
            .tulov-turi{
                h3{
                    font-size: 32px;
                }
                .row{
                    .click{
                        .inform{
                            .single, .multi{
                                p{
                                    font-size: 17px;
                                }
                            }
                        }
                        .radio{
                            label{
                                img{
                                    height: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:700px){
    .Buyurtma{
        .rasmiylashtiish{
            .tulov-turi{
                h3{
                    margin-bottom: 20px;
                }
                .row{
                    flex-flow: column;
                    .click{
                        width: 100%;
                        margin-bottom: 20px;
                        .inform{
                            .single, .multi{
                                p{
                                    font-size: 14px;
                                }
                            }
                        }
                        .radio{
                            label{
                                img{
                                    height: 40px;
                                }
                            }
                        }
                    }
                    .fish{
                        width: 100%;
                    }
                }
            }
        }
    }
}