@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap');


.Section2{
    background-color: #F2F3F7;
    padding: 67px 10%;
    .title{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-bottom: 40px;
    }
    .items{
        display: flex;
        justify-content: space-between;
        .item{
            text-align: center;
            align-items: center;
            width: 294px;
            height: 144px;
            background-color: #fff;
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            padding: 27px 0;
            border-radius: 12px;
            img{
                height: 24px;
            }
            p{
                font-family: Montserrat;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.44px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
    }
}

@media (max-width:960px) {
    .Section2{
        padding: 60px 5%;
    }
}