

.Section5{
    margin-top: 50px;
    height: 575px;
    display: flex;
    justify-content: end;
    padding-top: 175px;
    .blue{
        height: 400px;
        background: radial-gradient(100% 1071.07% at 0% 0%, #0F0D2B 0%, #0C0926 100%);
        position: relative;
        padding:0 10%;
        display: flex;
        > img{
            height: 500px;
            width: auto;
            position: relative;
            top: -175px;
        }
        .items{
            padding-left: 50px;
            padding-top: 40px;
            h3{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 140%;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #FFFFFF;
                margin-bottom: 24px;
            }
            p{
                font-family: Montserrat;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.44px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #FFFFFF;
                margin-bottom: 40px;
            }
            .buttons{
                display: flex;

                button{
                    background-color: transparent;
                    border: none;
                    margin-right: 30px;
                    img{
                        height: 45px;
                        border-radius: 6px;
                    }
                }
            }
        }
    }
}

@media (max-width:1056px){
    .Section5{
        height: 100%;
        

        .blue{
            padding: 0 5%;
            height: 50%;
            flex-flow: column;
            > img{
                top: -150px;
                height: auto;
                width: 70%;
            }
            .items{
                padding: 0;
                position: relative;
                top: -120px;
            }
        }
    }
}

@media (max-width:546px){
    .Section5{
        height: 100%;
        padding-top:80px;
        .blue{
            .items{
                h3{
                    font-size:24px
                }
                .buttons{
                    button{
                        img{
                            width:100%;
                            height:auto;
                        }
                    }
                }
            }
        }
    }
}