@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap");

.Section1{
    height: 780px;
    align-items: center;
    display: flex;
    position: relative;
    background: linear-gradient(99.05deg, #E1AA00 0%, #FFC000 74.72%);
    .bg-black{
        background-color: #000;
        padding: 30px 10%;
        .items{
            width: 55%;
            justify-content: start;
            h3{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 34px;
                line-height: 140%;
                display: flex;
                align-items: center;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #fff;
                
            }
            p{
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 140%;
                display: flex;
                align-items: center;
                letter-spacing: 0.1px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                color: #FFFFFF;
                margin: 30px 0;
            }
            button{
                border: none;
                background-color: transparent;
                img{
                    height: 20px;
                }
            }
        }
    }
    > img{
        height: 100%;
        position: absolute;
        right: 10%;
    }

}