


.Basket_Item{
    height: 290px;
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 25px;
    button{
        border: none;
        background-color: transparent;
    }
    .image{
        height: 100%;
        img{
            height: 100%;
            border-radius: 12px;
        }
    }
    .contents{
        padding: 25px 30px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .one{
            display: flex;
            justify-content: space-between;
            h3{
                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 140%;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
            button{
                img{
                    height: 24px;
                }
            }
            
        }
        .two{
            p{
                font-family: Montserrat;
                font-size: 14px;
                line-height: 160%;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
        .three{
            display: flex;
            justify-content: space-between;
            .section{
                display: flex;
                align-items: center;
                
                .price{
                    margin-right: 40px;
                    align-items: center;
                    p{
                        font-family: Montserrat;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0.44px;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                    }
                }
                .size{
                    display: flex;
                    align-items: center;
                    h6{
                        margin-right: 15px;
                        font-family: Montserrat;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0.44px;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                    }
                    p{
                        font-family: Inter;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        font-feature-settings: 'pnum' on, 'lnum' on
                    }
                }
            }
            .soni{
                display: flex;
                align-items: center;
                margin-right: 30px;
                background-color: #f2f2f2;
                height: 37px;
                align-items: center;
                margin-top: 50px;

                button{
                    img{
                        height: 37px;
                    }
                }
                .count{
                    width: 100px;
                    text-align: center;
                    p{
                        font-family: Montserrat;
                        font-size: 20px;
                        line-height: 140%;
                        letter-spacing: 0.15px;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                    }
                }
            }
        }
    }
}