

.Basket{
    padding:  0px 10%;
    background-color: #FAFAFA;
    margin-top:50px;
    .section{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        .total-price{
            display: flex;
            align-items: center;
            h5{
                font-family: Inter;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                margin-right: 20px;
            }
            p{
                font-family: Montserrat;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.44px;
                font-feature-settings: 'pnum' on, 'lnum' on;
                
            }
        }
        .checkout{
            button{
                width: 376px;
                height: 56px;
                background: #FFC000;
                border: none;
                border-radius: 6px;
                font-family: Montserrat;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
    }
    .similar{
        .title{
            margin: 30px;
            margin-top: 50px;
            h4{
                font-family: Montserrat;
                font-weight: bold;
                font-size: 34px;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
        .cards{
            display: flex;
        }
    }
}