.Profil {
  margin-top: 80px;
  margin-bottom: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 10%;
}

.Profil .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  height: 300px;
}

.Profil .row .image {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 263px;
  margin-right: 130px;
}

.Profil .row .image img {
  height: 263px;
  margin-bottom: 16px;
}

.Profil .row .image button {
  background: #FFC000;
  border-radius: 6px;
  border: none;
  outline: none;
  width: 263px;
  height: 40px;
  font-family: Inter;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
}

.Profil .row .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 700px;
}

.Profil .row .contents label {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-right: 120px;
}

.Profil .row .contents label input {
  width: 264px;
  height: 44px;
  border: 1px solid #DBDEE7;
  border-radius: 6px;
  padding-left: 12px;
  font-family: Open Sans;
  font-size: 16px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
  margin-bottom: 16px;
  margin-top: 8px;
  outline: none;
}

.Profil .row .contents label input::-webkit-input-placeholder {
  font-family: Open Sans;
  font-size: 16px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
}

.Profil .row .contents label input:-ms-input-placeholder {
  font-family: Open Sans;
  font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
}

.Profil .row .contents label input::-ms-input-placeholder {
  font-family: Open Sans;
  font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
}

.Profil .row .contents label input::placeholder {
  font-family: Open Sans;
  font-size: 16px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
  color: #0D0D0D;
}

@media (max-width: 1250px) {
  .Profil .row {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (max-width: 1200px) {
  .Profil {
    padding: 0 5%;
  }
}

@media (max-width: 850px) {
  .Profil .row .image {
    width: 40%;
    margin-right: 30px;
  }
  .Profil .row .image img {
    width: 100%;
    height: auto;
  }
  .Profil .row .image button {
    width: 100%;
  }
  .Profil .row .contents {
    width: 60%;
  }
  .Profil .row .contents label {
    margin: 0;
  }
  .Profil .row .contents label input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .Profil .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .Profil .row .image {
    width: 100%;
    margin-bottom: 20px;
  }
  .Profil .row .contents {
    width: 100%;
  }
}
/*# sourceMappingURL=profil.module.css.map */