


.xaridqilish{
    height: 400px;
    display: flex;
    img{
        width: 100%;
        height: auto;
    }
    .contents{
        padding: 60px 30px;
        background-color: #fff;
        h4{
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 34px;
            line-height: 140%;
            letter-spacing: 0.25px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #0D0D0D;
        }
        p{
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: 0.44px;
            font-feature-settings: 'pnum' on, 'lnum' on;
            color: #000000;
            padding: 24px 0;
        }
        button{
            background: #FFC000;
            border-radius: 6px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            letter-spacing: 0.75px;
            text-transform: uppercase;
            font-feature-settings: 'pnum' on, 'lnum' on;
            border: none;
            padding: 8px 23px;
        }
    }
}


@media (max-width:1200px){
    .xaridqilish{
        height: auto;
        flex-flow: column;
    }
}