

.Tulov{
    padding: 0 10%;
    h4{
        font-family: Montserrat;
        font-weight: bold;
        font-size: 34px;
        line-height: 140%;
        text-align: center;
        letter-spacing: 0.25px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        .image{
            img{
                height: 360px;
            }
        }
        .form{
            width: 450px;
            form{
                input{
                    width: 460px;
                    height: 58px;
                    background: #F1F1F1;
                    border: none;
                    outline: none;
                    padding: 16px;
                    margin-bottom: 25px;
                    font-family: Montserrat;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0.44px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #000;
                    &::placeholder{
                        font-family: Montserrat;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0.44px;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                        color: #0A0A0A;
                    }
                }
                label{
                    display: flex;
                    flex-flow: column;
                    p{
                        margin-bottom: 12px;
                        font-family: Montserrat;
                        font-size: 16px;
                        line-height: 140%;
                        letter-spacing: 0.44px;
                        font-feature-settings: 'pnum' on, 'lnum' on;
                        color: #0A0A0A;
                    }
                }
                button{
                    width: 460px;
                    height: 58px;
                    background: #FFC000;
                    border: none;
                    outline: none;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                    color: #0D0D0D;
                }
            }
        }
    }
}