

.Tovar{
    background-color: #FAFAFA;
    padding: 50px 10%;
    .content{
        display: flex;
        justify-content: space-between;
        .images{
            width: 460px;
            .asosiy{
                width: 460px;
                height: 460px;
                background-position: center;
                background-size: cover;
                // background-color: red;
                margin-bottom: 20px;
            }
            .qushimcha{
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                div{
                    width: 104px;
                    height: 104px;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
        .texts{
            max-width: 560px;
            width: fit-content;
            .name{
                h2{
                    margin-bottom: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 140%;
                    letter-spacing: 0.25px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
            }
            .reyting{
                display: flex;
                justify-content: space-between;
                img{
                    height: 20px;
                    margin-bottom: 10px;
                }
                p{
                    display: none;
                    margin-bottom: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 140%;
                    letter-spacing: 0.25px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
            }
            .info{
                margin-bottom: 10px;
                font-family: Montserrat;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                letter-spacing: 0.44px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
            .price{
                p{
                    margin-bottom: 20px;
                    font-family: Montserrat;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 34px;
                    line-height: 140%;
                    letter-spacing: 0.25px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
            }
            .size{
                p{
                    font-family: Montserrat;
                    margin-bottom: 10px;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 140%;
                    letter-spacing: 0.44px;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
                ul{
                    display: flex;
                    margin-bottom: 20px;
                    li{
                        list-style: none;
                        margin-right: 10px;
                        border: 1px solid #DBDEE7;
                        border-radius: 6px;
                        padding: 12px;
                        font-family: Inter;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        text-align: center;
                        font-feature-settings: 'pnum' on, 'lnum' on;

                    }
                }
            }
            .buttons{
                display: flex;
                flex-flow: column;
                .korzinkaga{
                    margin-bottom: 10px;
                    width: 362px;
                    height: 40px;
                    background-color: #FFC000;
                    border: none;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
                .buyNow{
                    width: 362px;
                    height: 40px;
                    background: rgba(0, 0, 0, 0.05);
                    border: none;
                    font-family: Montserrat;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    align-items: center;
                    text-align: center;
                    letter-spacing: 0.75px;
                    text-transform: uppercase;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
            }
            .afzalliklar{
                h4{
                    font-family: Montserrat;
                    margin-top: 10px;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 140%;
                    font-feature-settings: 'pnum' on, 'lnum' on;
                }
                .items{
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                    .item{
                        background-color: transparent;
                        margin: 0;
                        margin-top: 20px;
                        display: flex;
                        align-items: center;
                        img{
                            height: 28px;
                            margin-right: 10px;
                        }
                        p{
                            font-style: normal;
                            font-size: 11px;
                            line-height: 16px;
                            letter-spacing: 0.02em;
                            font-feature-settings: 'pnum' on, 'lnum' on;
                        }
                    }
                }
            }
        }
    }
    .similar_brand, .top_category{
        padding-top: 50px;
        .title{
            h3{
                margin-bottom: 20px;
                font-family: Montserrat;
                font-weight: bold;
                font-size: 34px;
                line-height: 140%;
                text-align: center;
                letter-spacing: 0.25px;
                font-feature-settings: 'pnum' on, 'lnum' on;
            }
        }
        .items{
            display: flex;
            justify-content: space-between;
        }
    }
    .alert{
        position:fixed;
        width:fit-content;
        height:fit-content;
        top: 80px;
        right: 50px;
        padding: 20px;
        background-color: #ffbf00a6;
        color: #0d0d0d;
        border-radius: 5px;
        animation-name: alert;
        animation-duration:2s;
        opacity: 0;
    }
    .none{
        display: none;
    }
}

@keyframes alert{
    0%{opacity: 1;}
    25%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 1;}
    100% {opacity: 0;}
}

@media (max-width:1300px){
    .Tovar{
        padding: 50px 5%;
    }
}
@media (max-width:1200px){
    .Tovar{
        padding: 50px 5%;
        .content{
            .images{
                width: 430px;
                .asosiy{
                    width: 430px;
                    height: 430px;
                }
                .qushimcha{
                    div{
                        width: 95px;
                        height: 95px;
                    }
                }
            }
            .texts{
                max-width: 450px;
                .name{
                    h2{
                        font-size: 30px;
                    }
                }
                .reyting{
                    img{
                        height: 17px;
                    }

                }
                .info{
                    font-size: 13px;
                }
                .price{
                    p{
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
@media (max-width:1000px){
    .Tovar{
        padding: 50px 5%;
        .content{
            .images{
                width: 400px;
                .asosiy{
                    width: 400px;
                    height: 400px;
                }
                .qushimcha{
                    div{
                        width: 90px;
                        height: 90px;
                    }
                }
            }
        }
    }
}

@media (max-width:920px){
    .Tovar{
        .content{
            flex-flow: column;
            align-items: center;
            .images{
                max-width: 420px;
                overflow-x: scroll;
                display: flex;
                flex-flow: row;
                justify-content: space-between;
                padding-bottom: 10px;
                &::-webkit-scrollbar {
                    width: 10px;
                    height: 10px;
                    }
                    
                    /* Track */
                    &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 5px grey; 
                    border-radius: 6px;
                    }
                    
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                    background: #282364; 
                    border-radius: 10px;
                    }
                    
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                    background: #0F0D2B; 
                    }
                    &:active{
                        cursor: grabbing;
                    }
                .asosiy{
                    width: 400px;
                    height: 400px;
                }
                .qushimcha{
                    div{
                        width: 400px;
                        height: 400px;
                        margin: 0 10px;
                    }
                }
            }
            .texts{
                max-width: 100%;
                margin-top: 20px;
                .buttons{
                    .korzinkaga, .buyNow{
                        width: 100%;
                    }
                }
                .afzalliklar{
                    .items{
                        flex-flow: column;
                        .item{
                            img{
                                margin-right: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width:425px){
    .Tovar{
        .content{
            .images{
                width: 320px;
                .asosiy{
                    width: 320px;
                    height: 300px;
                }
            }
            .texts{
                .name{
                    h2{
                        font-size: 24px;
                    }
                }
                .reyting{
                    align-items: center;
                    img{
                        height: 18px;
                    }
                    p{
                        display: block;
                    }
                }
                .info{
                    font-size: 14px;
                }
                .price{
                    display: none;
                }
            }

        }
    }
}