.Tovar {
  background-color: #FAFAFA;
  padding: 50px 10%;
}

.Tovar .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tovar .content .images {
  width: 460px;
}

.Tovar .content .images .asosiy {
  width: 460px;
  height: 460px;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.Tovar .content .images .qushimcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tovar .content .images .qushimcha div {
  width: 104px;
  height: 104px;
  background-position: center;
  background-size: cover;
}

.Tovar .content .texts {
  max-width: 560px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Tovar .content .texts .name h2 {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .reyting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tovar .content .texts .reyting img {
  height: 20px;
  margin-bottom: 10px;
}

.Tovar .content .texts .reyting p {
  display: none;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0.25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .info {
  margin-bottom: 10px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .price p {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .size p {
  font-family: Montserrat;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.44px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .size ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.Tovar .content .texts .size ul li {
  list-style: none;
  margin-right: 10px;
  border: 1px solid #DBDEE7;
  border-radius: 6px;
  padding: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.Tovar .content .texts .buttons .korzinkaga {
  margin-bottom: 10px;
  width: 362px;
  height: 40px;
  background-color: #FFC000;
  border: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .buttons .buyNow {
  width: 362px;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .afzalliklar h4 {
  font-family: Montserrat;
  margin-top: 10px;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .content .texts .afzalliklar .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tovar .content .texts .afzalliklar .items .item {
  background-color: transparent;
  margin: 0;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Tovar .content .texts .afzalliklar .items .item img {
  height: 28px;
  margin-right: 10px;
}

.Tovar .content .texts .afzalliklar .items .item p {
  font-style: normal;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .similar_brand, .Tovar .top_category {
  padding-top: 50px;
}

.Tovar .similar_brand .title h3, .Tovar .top_category .title h3 {
  margin-bottom: 20px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.25px;
  -webkit-font-feature-settings: 'pnum' on, 'lnum' on;
          font-feature-settings: 'pnum' on, 'lnum' on;
}

.Tovar .similar_brand .items, .Tovar .top_category .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Tovar .alert {
  position: fixed;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 80px;
  right: 50px;
  padding: 20px;
  background-color: #ffbf00a6;
  color: #0d0d0d;
  border-radius: 5px;
  -webkit-animation-name: alert;
          animation-name: alert;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  opacity: 0;
}

.Tovar .none {
  display: none;
}

@-webkit-keyframes alert {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes alert {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 1300px) {
  .Tovar {
    padding: 50px 5%;
  }
}

@media (max-width: 1200px) {
  .Tovar {
    padding: 50px 5%;
  }
  .Tovar .content .images {
    width: 430px;
  }
  .Tovar .content .images .asosiy {
    width: 430px;
    height: 430px;
  }
  .Tovar .content .images .qushimcha div {
    width: 95px;
    height: 95px;
  }
  .Tovar .content .texts {
    max-width: 450px;
  }
  .Tovar .content .texts .name h2 {
    font-size: 30px;
  }
  .Tovar .content .texts .reyting img {
    height: 17px;
  }
  .Tovar .content .texts .info {
    font-size: 13px;
  }
  .Tovar .content .texts .price p {
    font-size: 30px;
  }
}

@media (max-width: 1000px) {
  .Tovar {
    padding: 50px 5%;
  }
  .Tovar .content .images {
    width: 400px;
  }
  .Tovar .content .images .asosiy {
    width: 400px;
    height: 400px;
  }
  .Tovar .content .images .qushimcha div {
    width: 90px;
    height: 90px;
  }
}

@media (max-width: 920px) {
  .Tovar .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Tovar .content .images {
    max-width: 420px;
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 10px;
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .Tovar .content .images::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .Tovar .content .images::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px grey;
            box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
  }
  .Tovar .content .images::-webkit-scrollbar-thumb {
    background: #282364;
    border-radius: 10px;
  }
  .Tovar .content .images::-webkit-scrollbar-thumb:hover {
    background: #0F0D2B;
  }
  .Tovar .content .images:active {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  .Tovar .content .images .asosiy {
    width: 400px;
    height: 400px;
  }
  .Tovar .content .images .qushimcha div {
    width: 400px;
    height: 400px;
    margin: 0 10px;
  }
  .Tovar .content .texts {
    max-width: 100%;
    margin-top: 20px;
  }
  .Tovar .content .texts .buttons .korzinkaga, .Tovar .content .texts .buttons .buyNow {
    width: 100%;
  }
  .Tovar .content .texts .afzalliklar .items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .Tovar .content .texts .afzalliklar .items .item img {
    margin-right: 15px;
  }
}

@media (max-width: 425px) {
  .Tovar .content .images {
    width: 320px;
  }
  .Tovar .content .images .asosiy {
    width: 320px;
    height: 300px;
  }
  .Tovar .content .texts .name h2 {
    font-size: 24px;
  }
  .Tovar .content .texts .reyting {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Tovar .content .texts .reyting img {
    height: 18px;
  }
  .Tovar .content .texts .reyting p {
    display: block;
  }
  .Tovar .content .texts .info {
    font-size: 14px;
  }
  .Tovar .content .texts .price {
    display: none;
  }
}
/*# sourceMappingURL=product.module.css.map */